Repository Mohamed13/pipelane, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pipelane/maintainers, @pipelane/backend, @pipelane/frontend, @pipelane/marketing, @pipelane/docs

chore: add repo tooling and ci
  .editorconfig
  .github/workflows/api-ci.yml
  .github/workflows/backend-ci.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/front-ci.yml
  .github/workflows/frontend-ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  commitlint.config.js
  package-lock.json
  package.json
  scripts/smoke-api.ps1
  scripts/smoke-front.ps1
Owners: @pipelane/maintainers

feat(marketing): refresh lead hunter story
  pipelane-marketing/.eslintrc.cjs
  pipelane-marketing/.prettierrc
  pipelane-marketing/lighthouserc.json
  pipelane-marketing/package.json
  pipelane-marketing/public/apple-touch-icon.png
  pipelane-marketing/public/favicon.ico
  pipelane-marketing/public/favicon.svg
  pipelane-marketing/public/og-pipelane.png
  pipelane-marketing/public/site.webmanifest
  pipelane-marketing/src/assets/pipelane-compact.svg
  pipelane-marketing/src/assets/pipelane-logo.svg
  pipelane-marketing/src/components/CTA.astro
  pipelane-marketing/src/components/FeatureCard.astro
  pipelane-marketing/src/components/FlowStep.astro
  pipelane-marketing/src/components/Navbar.astro
  pipelane-marketing/src/layouts/Base.astro
  pipelane-marketing/src/pages/changelog.astro
  pipelane-marketing/src/pages/index.astro
  pipelane-marketing/src/pages/mentions-legales.astro
  pipelane-marketing/src/pages/prix.astro
  pipelane-marketing/src/pages/prospection-ia.astro
  pipelane-marketing/src/pages/relance-intelligente.astro
  pipelane-marketing/src/pages/securite-rgpd.astro
  pipelane-marketing/src/styles/globals.css
Owners: @pipelane/marketing

docs: capture current status and playbooks
  COMPTE_RENDU.md
  CONTRATS.md
  QUALITY.md
  README.md
  fix-console-errors.md
  optimization.md
  tasks-logo.md
  tasks-ui.md
Owners: @pipelane/maintainers

fix(api): redirect root to swagger
  pipelane-api/src/Pipelane.Api/Program.cs
Owners: @pipelane/backend

chore(api): support seed-only runs
  pipelane-api/src/Pipelane.Api/Program.cs
Owners: @pipelane/backend

feat(seeding): populate demo data across modules
  pipelane-api/src/Pipelane.Infrastructure/Persistence/DataSeeder.cs
Owners: @pipelane/backend

fix(api): harden followup preview and tenant resolution
  pipelane-api/src/Pipelane.Api/Controllers/FollowupsController.cs
  pipelane-api/src/Pipelane.Api/MultiTenancy/HttpTenantProvider.cs
  pipelane-api/src/Pipelane.Api/Properties/AssemblyInfo.cs
  pipelane-api/src/Pipelane.Application/Hunter/HunterService.cs
  pipelane-api/tests/Pipelane.Tests/AnalyticsControllerTests.cs
  pipelane-api/tests/Pipelane.Tests/ExceptionHandlingMiddlewareTests.cs
  pipelane-api/tests/Pipelane.Tests/FollowupsControllerTests.cs
  pipelane-api/tests/Pipelane.Tests/HttpTenantProviderTests.cs
  pipelane-api/tests/Pipelane.Tests/Pipelane.Tests.csproj
  pipelane-api/tests/Pipelane.Tests/ProblemDetailsFrenchLocalizerTests.cs
  pipelane-api/tests/Pipelane.Tests/RequestLoggingEnrichmentMiddlewareTests.cs
  tasks.md
Owners: @pipelane/backend, @pipelane/maintainers

test(front): broaden unit and e2e coverage
  pipelane-front/.eslintrc.json
  pipelane-front/cypress.config.ts
  pipelane-front/cypress/e2e/analytics.cy.ts
  pipelane-front/cypress/e2e/campaign_builder.cy.ts
  pipelane-front/cypress/e2e/onboarding.cy.ts
  pipelane-front/cypress/e2e/tour.cy.ts
  pipelane-front/cypress/support/e2e.ts
  pipelane-front/cypress/support/index.d.ts
  pipelane-front/src/__tests__/analytics-overview.component.spec.ts
  pipelane-front/src/__tests__/api.service.spec.ts
  pipelane-front/src/__tests__/app.component.tooltips.spec.ts
  pipelane-front/src/__tests__/campaign-builder.component.spec.ts
  pipelane-front/src/__tests__/chart-card.component.spec.ts
  pipelane-front/src/__tests__/command-palette.component.spec.ts
  pipelane-front/src/__tests__/conversation-thread.component.spec.ts
  pipelane-front/src/__tests__/hunter-page.component.spec.ts
  pipelane-front/src/__tests__/icon.service.spec.ts
  pipelane-front/src/__tests__/language.service.spec.ts
  pipelane-front/src/__tests__/login-page.component.spec.ts
  pipelane-front/src/__tests__/theme-integration.spec.ts
  pipelane-front/src/app/features/hunter/hunter-map.component.spec.ts
Owners: @pipelane/frontend

chore(front): add depcheck scripts and tidy tooling
  pipelane-front/package-lock.json
  pipelane-front/package.json
  pipelane-front/tools/inject-env.mjs
Owners: @pipelane/frontend

feat(marketing): revamp landing assets and localized content
  pipelane-marketing/IMAGES.md
  pipelane-marketing/docs/COPY_GUIDE.md
  pipelane-marketing/package-lock.json
  pipelane-marketing/package.json
  pipelane-marketing/src/assets/images/booking/calendar-mobile.jpg
  pipelane-marketing/src/assets/images/followup/phone-chat.jpg
  pipelane-marketing/src/assets/images/hero/hero-gradient.jpg
  pipelane-marketing/src/assets/images/lead-hunter/map-pin-abstract.jpg
  pipelane-marketing/src/assets/images/security/shield-glow.jpg
  pipelane-marketing/src/assets/images/stats/dataviz-abstract.jpg
  pipelane-marketing/src/assets/img/analytics-glow.svg
  pipelane-marketing/src/assets/img/automation-flow.svg
  pipelane-marketing/src/assets/img/cadence-email.jpg
  pipelane-marketing/src/assets/img/cadence-sms.jpg
  pipelane-marketing/src/assets/img/cadence-whatsapp.jpg
  pipelane-marketing/src/assets/img/console-dashboard.svg
  pipelane-marketing/src/assets/img/insights-tiles.svg
  pipelane-marketing/src/assets/img/integrations-grid.svg
  pipelane-marketing/src/assets/img/journey-mobile.svg
  pipelane-marketing/src/assets/img/pipeline-branches.svg
  pipelane-marketing/src/assets/pipelane-compact.svg
  pipelane-marketing/src/assets/pipelane-logo.svg
  pipelane-marketing/src/components/CTA.astro
  pipelane-marketing/src/components/DemoForm.astro
  pipelane-marketing/src/components/FeatureCard.astro
  pipelane-marketing/src/components/Footer.astro
  pipelane-marketing/src/components/Icon.astro
  pipelane-marketing/src/components/Navbar.astro
  pipelane-marketing/src/components/StatCard.astro
  pipelane-marketing/src/components/pages/HomePage.astro
  pipelane-marketing/src/i18n/en.json
  pipelane-marketing/src/i18n/fr.json
  pipelane-marketing/src/layouts/Base.astro
  pipelane-marketing/src/pages/en/index.astro
  pipelane-marketing/src/pages/securite-rgpd.astro
  pipelane-marketing/src/styles/globals.css
  pipelane-marketing/src/types/assets.d.ts
  pipelane-marketing/src/utils/i18n.ts
  pipelane-marketing/tsconfig.json
Owners: @pipelane/marketing, @pipelane/docs

refactor(layout): enforce single document scroll shell
  pipelane-front/src/app/app.component.ts
  pipelane-front/src/styles.scss
  pipelane-front/src/theme/_spacing.scss
Owners: @pipelane/frontend

refactor(hunter): make hunter and sequence grids fluid
  pipelane-front/src/app/features/hunter/hunter-page.component.scss
  pipelane-front/src/app/features/prospecting/prospecting-sequences.component.scss
Owners: @pipelane/frontend

perf(hunter): lazily resolve popup reasons
  pipelane-front/src/app/core/mapbox.service.ts
  pipelane-front/src/app/features/hunter/hunter-map.component.ts
Owners: @pipelane/frontend

build(material): align theme definition with v20 palettes
  pipelane-front/src/theme/material-theme.scss
Owners: @pipelane/frontend

.github/CODEOWNERS:

# DÃ©finition des responsables de revues par zone

*                                           @pipelane/maintainers
pipelane-api/                               @pipelane/backend
pipelane-front/                             @pipelane/frontend
pipelane-marketing/                         @pipelane/marketing
docs/                                       @pipelane/docs
